<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <app-chat-message text="What image do you want to generate?" />

      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <!-- Chat Messages -->
          <app-chat-message
            [text]="message.text"
            [imageInfo]="message.imageInfo"
          />
        } @else {
          <app-my-message [text]="message.text" />
        }
      }
      @if (isLoading()) {
        <app-typing-loader />
      }
    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box
    placeholder="Type here what you want"
    (onMessage)="handleMessage($event)"
  />
</div>
