<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <app-chat-message text="Type the text you want me to check" />

      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <!-- Chat Messages -->
          <app-gpt-message-orthography
            [text]="message.text"
            [errors]="message.info!.errors"
            [userScore]="message.info!.userScore"
          />
        } @else {
          <app-my-message [text]="message.text" />
        }
      }
      @if (isLoading()) {
        <app-typing-loader />
      }
    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box
    placeholder="Type here what you want"
    [disableCorrections]="true"
    (onMessage)="handleMessage($event)"
  />
</div>
